<aside class="sidebar">
    <div class="logo">Энергоэффективность и планирование потребления ТЭР</div>
    
    <nav class="nav-menu">
        <a href="{% url 'src:index' %}" class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">Главное меню</a>
        
        <a href="{% url 'src:keys' %}" class="nav-item {% if request.resolver_match.url_name == 'keys' %}active{% endif %}">Ключевые показатели энергоэффективности по предприятию</a>
        <a href="{% url 'src:potential_es' %}" class="nav-item {% if request.resolver_match.url_name == 'potential_es' %}active{% endif %}">Потенциал энергосбережения</a>
        <a href="{% url 'src:indicators' %}" class="nav-item {% if request.resolver_match.url_name == 'indicators' %}active{% endif %}">Анализ работы установок</a>
        <!-- <a href="{% url 'src:intensity' %}" class="nav-item {% if request.resolver_match.url_name == 'intensity' %}active{% endif %}">Энергоемкость, индекс энергоемкости</a> -->
        <!-- <a href="{% url 'src:tables' %}" class="nav-item {% if request.resolver_match.url_name == 'tables' %}active{% endif %}">Таблицы</a> -->
        
        
        <!-- <a href="{% url 'src:nets' %}" class="nav-item {% if request.resolver_match.url_name == 'nets' %}active{% endif %}">Статистика</a> -->
        <a href="{% url 'src:plan_fact' %}" class="nav-item {% if request.resolver_match.url_name == 'plan_fact' %}active{% endif %}">Данные о потреблении и выработке ТЭР по установкам</a>
        <!-- <a href="{% url 'src:analytics' %}" class="nav-item {% if request.resolver_match.url_name == 'analytics' %}active{% endif %}">Аналитика</a> -->
        <!-- <a href="{% url 'src:fact_plan' %}" class="nav-item {% if request.resolver_match.url_name == 'fact_plan' %}active{% endif %}">Факт/План</a> -->
        <div class="nav-divider"></div>
        {% comment %} <a href="#" class="nav-item">Настройки</a>
        <a href="#" class="nav-item">Профиль</a> {% endcomment %}
    </nav>

    {% comment %} <div class="nav-footer">
        <a href="#" class="nav-item">Поддержка</a>
        <a href="#" class="nav-item">Выйти</a>
    </div> {% endcomment %}
</aside>